<a href="https://colab.research.google.com/github/brenvilla/Valores_Nulos/blob/main/Datos_de_facturaci%C3%B3n_limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:

from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .xlsx sin indice
df= pd.read_excel('Datos de Facturacion.xlsx')
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0
10891,F40307,6218,E,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0
10892,F40308,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10895 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10895 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10895 non-null  datetime64[ns]
 5   FECHA_DOC      10895 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10895 non-null  float64
 10  DES_TOT        10895 non-null  float64
 11  DES_FIN        10895 non-null  int64
dtypes: datetime64[ns](4), float64(3), int64(1), object(4)
memory usage: 1021.5+ KB

In [ ]:
valores_nulos=df.isnull().sum()
valores_nulos

CVE_DOC              0
CVE_CLPV             0
STATUS               0
CVE_VEND            48
FECHAELAB            0
FECHA_DOC            0
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              0
DES_TOT              0
DES_FIN              0
dtype: int64

In [ ]:
df["CVE_VEND"]= df["CVE_VEND"].fillna(0)

In [ ]:
valores_nulos=df.isnull().sum()
valores_nulos

CVE_DOC              0
CVE_CLPV             0
STATUS               0
CVE_VEND             0
FECHAELAB            0
FECHA_DOC            0
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              0
DES_TOT              0
DES_FIN              0
dtype: int64

In [ ]:
df['FECHA_ENT'] = df["FECHA_ENT"].fillna("NA")

In [ ]:
valores_nulos=df.isnull().sum()
valores_nulos

CVE_DOC              0
CVE_CLPV             0
STATUS               0
CVE_VEND             0
FECHAELAB            0
FECHA_DOC            0
FECHA_ENT            0
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              0
DES_TOT              0
DES_FIN              0
dtype: int64

In [ ]:
df['FECHA_CANCELA'] = df["FECHA_CANCELA"].fillna("NA")

In [ ]:
valores_nulos=df.isnull().sum()
valores_nulos

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          0
DES_TOT          0
DES_FIN          0
dtype: int64

In [ ]:
valores_nulos=df.isnull().sum().sum()
valores_nulos

0

In [ ]:
df.to_csv("Datos_facturación_sin_nulos.csv")

In [ ]:
from google.colab import files 

files.download("Datos_facturación_sin_nulos.csv")