<a href="https://colab.research.google.com/github/brenvilla/Valores_Nulos/blob/main/Gastos_Costos_limpieza_nulos2021_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
gc2021 = pd.read_csv('gastos_costos_2021_nulos.csv')
gc2022 = pd.read_csv('gastos_costos_2022_nulos.csv')
gc2023 = pd.read_csv('gastos_costos_2023_nulos.csv')

In [ ]:
#Quitamos la columna Unnamed:0
gc2021.pop('Unnamed: 0')

0          0
1          1
2          3
3          4
4          7
        ...
1496    3029
1497    3030
1498    3032
1499    3033
1500    3034
Name: Unnamed: 0, Length: 1501, dtype: int64

In [ ]:
gc2022.pop('Unnamed: 0')
gc2023.pop('Unnamed: 0')

0        2
1        3
2        4
3        5
4        6
      ...
187    388
188    392
189    393
190    394
191    395
Name: Unnamed: 0, Length: 192, dtype: int64

In [ ]:
#No hay nulos en las columnas del año 2021
gc2021.isnull().sum()

FECHA         0
TIPO GASTO    0
TC            0
TOTAL SAT     0
dtype: int64

In [ ]:
#Observamos 314 nulos en columna TC (Tipo de Cambio)
gc2022.isnull().sum()

Fecha           0
TIPO GASTO      0
TC            314
TOTAL SAT       0
dtype: int64

In [ ]:
gc2022.TC.value_counts()

1.0000     1032
20.4672       1
20.3977       1
20.6134       1
20.5212       1
19.8911       1
20.3453       1
19.8300       1
19.6855       1
20.1353       1
20.7500       1
20.3626       1
20.1432       1
20.1271       1
19.8103       1
19.3081       1
Name: TC, dtype: int64

In [ ]:
#Observamos que el 98.57% de los datos son "1". 
1032/(1032+15)*100

98.56733524355302

In [ ]:
#TC es el tipo de cambio, que se multiplica con la cantidad de TOTAL_SAT. Por lo tanto los valores en TOTAL_SAT cuando tienen un tipo de cambio
# es una cantidad menor. Por lo tanto observamos los comportamientos de los datos por medio de la media y vemos que los valores son incluso mayores. 
# Esto indica que el tipo de cambio usualmente, muy seguramente no son distintos a 1, pues si lo fuera, se esperaría una media menor a la media del
# comportamiento de TOTAL_SAT entera (con y sin nulos). Por lo tanto, 1 sería una buen predicción en TC
print('Comportamiento de Total Sat con TC nulos')
print(gc2022.iloc[:,3][gc2022.TC.isnull()].describe())
print()
print('Comportamiento de Total Sat normal')
print(gc2022.iloc[:,3].describe())

Comportamiento de Total Sat con TC nulos
count      314.000000
mean      5585.721943
std      10163.102857
min      -1095.040000
25%        120.880000
50%       1095.040000
75%       5213.210000
max      59054.920000
Name: TOTAL SAT, dtype: float64

Comportamiento de Total Sat normal
count      1361.000000
mean       4781.579530
std       12881.594949
min       -9662.370000
25%          98.000000
50%         960.000000
75%        3493.850000
max      330160.820000
Name: TOTAL SAT, dtype: float64

In [ ]:
#Reemplazamos los nulos con 1
gc2022['TC']=gc2022['TC'].fillna(1)
gc2022.isnull().sum()

Fecha         0
TIPO GASTO    0
TC            0
TOTAL SAT     0
dtype: int64

In [ ]:
gc2023

          Fecha                TIPO GASTO   TC  TOTAL SAT
0    2023-01-01  ARRENDAMIENTO FINANCIERO  1.0    6439.60
1    2023-01-01  ARRENDAMIENTO FINANCIERO  1.0    6440.30
2    2023-01-01  ARRENDAMIENTO FINANCIERO  1.0    9807.07
3    2023-01-01         COMISION BANCARIA  1.0     568.40
4    2023-01-01         COMISION BANCARIA  1.0       0.00
..          ...                       ...  ...        ...
187  2023-02-01            GERENCIA ADMON  1.0   28600.00
188  2023-02-01         COMISION BANCARIA  1.0       0.00
189  2023-02-01                 ALIMENTOS  1.0     220.00
190  2023-02-01         COMISION BANCARIA  1.0   18753.92
191  2023-02-01                  GASOLINA  1.0   14472.32

[192 rows x 4 columns]

In [ ]:
#Observamos únicamente 8 nulos en columna 'TIPO GASTO'
gc2023.isnull().sum()

Fecha         0
TIPO GASTO    8
TC            0
TOTAL SAT     0
dtype: int64

In [ ]:
#Vemos los valores de TIPO GASTO. Son categóricos y dificilmente se le podrá predecir a los valores faltantes exitosamente. 
#Por lo tanto, se convertirán en una cadena que se logre identificar fácilmente que no estan definidos. 
gc2023['TIPO GASTO'].value_counts()

MTTO COMPUTO                20
PAQUETERIA                  18
COMISION BANCARIA           16
ARRENDAMIENTO FINANCIERO    12
NO DEDUCIBLE                12
TELEFONO                    10
CAPACITACION                 9
COMISION MIXTA               9
HONORARIOS PM                9
ALIMENTOS                    8
MTTO LOCAL                   5
GASOLINA                     5
DERECHOS                     4
GERENCIA ADMON               4
VARIOS                       4
MENSAJERIA                   4
MONITOREO CAMARAS ADT        4
VALES DESPENSA               3
RENTA COPIADORA              3
SUSCRIPCIONES                3
SEGUROS                      3
HONORARIOS CONTABLES         2
UNIFORMES                    2
CREDITO                      2
MTTO TRANSPORTE              2
SUELDOS DIRECCION            2
RENTA AUTO                   1
MTT OFICINA                  1
MTTO OFICINA                 1
MAQUINARIA                   1
MTTO MAQUINARIA              1
IMSS/INFONAVIT               1
PAPELERIA                    1
PUBLICIDAD                   1
FLETES                       1
Name: TIPO GASTO, dtype: int64

In [ ]:
#Reemplazamos datos nulos con "--" para identificar facilmente que no de especificó el tipo de gasto
gc2023['TIPO GASTO']=gc2023['TIPO GASTO'].fillna('--')

In [ ]:
gc2023['TIPO GASTO'].value_counts()

MTTO COMPUTO                20
PAQUETERIA                  18
COMISION BANCARIA           16
ARRENDAMIENTO FINANCIERO    12
NO DEDUCIBLE                12
TELEFONO                    10
CAPACITACION                 9
COMISION MIXTA               9
HONORARIOS PM                9
ALIMENTOS                    8
--                           8
MTTO LOCAL                   5
GASOLINA                     5
DERECHOS                     4
VARIOS                       4
GERENCIA ADMON               4
MENSAJERIA                   4
MONITOREO CAMARAS ADT        4
VALES DESPENSA               3
RENTA COPIADORA              3
SUSCRIPCIONES                3
SEGUROS                      3
MTTO TRANSPORTE              2
UNIFORMES                    2
CREDITO                      2
HONORARIOS CONTABLES         2
SUELDOS DIRECCION            2
RENTA AUTO                   1
MTT OFICINA                  1
MTTO OFICINA                 1
PAPELERIA                    1
MTTO MAQUINARIA              1
IMSS/INFONAVIT               1
MAQUINARIA                   1
PUBLICIDAD                   1
FLETES                       1
Name: TIPO GASTO, dtype: int64

In [ ]:
#Confirmamos que ya no se tienen nulos en ningun dataframe
print('2021:\n',gc2021.isnull().sum(), '\n')
print('2022:\n',gc2022.isnull().sum())
print('2023:\n',gc2023.isnull().sum())

2021:
 FECHA         0
TIPO GASTO    0
TC            0
TOTAL SAT     0
dtype: int64

2022:
 Fecha         0
TIPO GASTO    0
TC            0
TOTAL SAT     0
dtype: int64
2023:
 Fecha         0
TIPO GASTO    0
TC            0
TOTAL SAT     0
dtype: int64

In [ ]:
#Guardamos nuevos dataframes sin nulos como csv
gc2021.to_csv('gastos_costos_2021_sin_nulos.csv')
gc2022.to_csv('gastos_costos_2022_sin_nulos.csv')
gc2023.to_csv('gastos_costos_2023_sin_nulos.csv')